*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font: 1.5rem 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
}

.push-left{
    padding-right: 30%;
}

.holder{
    width: 90%;
    display: grid;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
}

.carousel{
    height: 80vh;
    width: 90%;
    margin: auto;
    overflow: hidden;
}