ul{
    list-style: none;
}

a{
    text-decoration: none;
    font: 1.5rem 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
}

.push-left{
    padding-right: 30%;
}

.holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}