/* Changing default css to style easier */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Navigation bar */
ul{
    list-style: none;
}

a{
    text-decoration: none;
    font: 1.5rem 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%;
}

nav img{
    padding-top: 15px;
}

.push-left{
    padding-right: 30%;
}

/* Work page */

.holder{
    width: 90%;
    display: grid;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
}

.holder:hover{
    cursor: pointer;
}

.back-to-top{
    display: flex;
    justify-content: center;
}

/* Landing page */
.carousel{
    height: 75vh;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Contact page */

input{
    border: 1px solid rgb(68, 68, 68);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin: auto;
    padding-top: 3%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 30%;
}

.styled-input {
    float: left;
    padding: 10px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.button{
    border-radius: 10px;
    margin-left: 70%;
    width: 30%;
    height: 50%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #002198da;
}

.contact-footer{
    color: rgba(0, 0, 0, 0.753);
}

/* About */

.About h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.About p{
    font-size: 1.3rem;
    padding-top: 1.5%;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 75ch;
}